asgiref==3.12.1
contourpy==1.4.0
cycler==0.12.1
Django==5.2.17
djangorestframework==3.18.1
dnspython==2.8.0
fonttools==4.65.0
gunicorn==26.2.0
kiwisolver==1.5.1
matplotlib==3.11.2
mysqlclient==2.3.0
numpy==2.5.3
packaging==26.3
pandas==3.0.5
pillow==12.3.0
pymongo==4.18.1
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
six==1.17.0
sqlparse==0.6.0
tzdata==2026.4
whitenoise==6.12.0
